.sidebar {
    border: 1px solid black;
    background-color: white;
    padding: 5px 10px;
    width: 150px;
    height: 40px;
}

.show_icon {
    width: 33%;
    height: 100%;
    float: left;
    cursor: pointer;
}

.show_icon:hover {
    background-color: #BFD9DE;
}

#show_house {
    background-image: url('./images/house.png');
    background-repeat: no-repeat;
    background-position: center, center;
}

#show_jump {
    background-image: url('./images/jump.png');
    background-repeat: no-repeat;
    background-position: center, center;
}

#show_health {
    background-image: url('./images/health.png');
    background-repeat: no-repeat;
    background-position: center, center;
}